@page "/"

<h1>Formula</h1>

This is a WebApplication that Users Can Find Their Own Formulas And Enter Their Own Values of Variables And Calculate Them.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
